@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground tracking-tight scroll-smooth;
    font-family: var(--font-inter), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}

/* Hide scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
